<div class="container">
  <h2 id="admin-name"><%= admin.name%></h2>
  <h2 id="admin-lastname"><%= admin.lastname%></h2>
  <h4 id="admin-subject"><%= admin.subject%></h4>
  <h4 id="admin-city"><%= admin.location%></h4>
  <h4><%=teacherObjects.teachers[0].name%></h4>
  <form id="admin-form" action="/api/teachers" method="POST">
    <h5>الرجاء الانتباه ان الوقت من الساعة 0 حتى الساعة 24</h5>
    <h5>الساعة</h5>
    <select name="time" id="admin-time-select">
      <% for(let i = 0; i <= 24;i++) {%>
      <option value=""><%=i%></option>
      <% } %>
    </select>
    <h5>اليوم</h5>
    <select id="admin-day-select" name="day" class="select">
      <option value="" disabled selected>اليوم</option>
      <option value="السبت">السبت</option>
      <option value="الاحد">الاحد</option>
      <option value="الاثنين">الاثنين</option>
      <option value="الثلاثاء">الثلاثاء</option>
      <option value="الاربعاء">الاربعاء</option>
      <option value="الخميس">الخميس</option>
      <option value="الجمعة">الجمعة</option>
    </select>
    <button
      class="btn waves-effect waves-light yellow darken-3"
      type="submit"
      name="action"
      style="margin-bottom: 24px"
    >
      انشاء الطلب
      <i class="material-icons right">send</i>
    </button>
    <hr />
  </form>

  <div style="padding-bottom: 2.5rem">
    <p id="admin-error" class="red-text"></p>
  </div>

  <table class="responsive-table" style="margin-bottom: 36px">
    <thead>
      <tr dir="rtl" lang="ar">
        <th>الاسم</th>
        <th>الكنية</th>
        <th>البريد</th>
        <th>الرقم</th>
        <th>اليوم</th>
        <th>الوقت</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < formObjects.forms.length; i++) { %>
      <tr lang="ar">
        <td><%= formObjects.forms[i].name %></td>
        <td><%= formObjects.forms[i].lastName %></td>
        <td><%= formObjects.forms[i].email %></td>
        <td><%= formObjects.forms[i].phoneNumber %></td>
        <td><%= formObjects.forms[i].day %></td>
        <td><%= formObjects.forms[i].time%></td>
        <td>
          <button
            class="btn-floating btn-large waves-effect waves-light green"
            id="<%= formObjects.forms[i]._id%>"
            onclick="completeForm(id)"
          >
            تم
          </button>
        </td>
        <!--Setting the id of the button to the id of the form document-->
      </tr>
      <% } %>
    </tbody>
  </table>

  <h4>اوقاتي المتاحة</h4>
  <table class="responsive-table" style="margin-bottom: 36px">
    <thead>
      <tr dir="rtl" lang="ar">
        <th>المادة</th>
        <th>اليوم</th>
        <th>الوقت</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < teacherObjects.teachers.length; i++) { %>
      <tr lang="ar">
        <td><%= teacherObjects.teachers[i].subject %></td>
        <td><%= teacherObjects.teachers[i].day %></td>
        <td><%= teacherObjects.teachers[i].time %></td>
        <td>
          <button
            class="btn-floating btn-large waves-effect waves-light red"
            id="<%= teacherObjects.teachers[i]._id%>"
            onclick="deleteTeacher(id)"
          >
            الغاء
          </button>
        </td>
        <!--Setting the id of the button to the id of the form document-->
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
/>
<script>
  function completeForm(id) {
    $.ajax({ url: `/api/forms/${id}`, method: "DELETE" })
      .then(location.reload()) //Refresh the page after completing the item
      .catch(err => {
        console.log("did not work");
      });
  }
  function deleteTeacher(id) {
    $.ajax({ url: `/api/teachers/${id}`, method: "DELETE" })
      .then(location.reload()) //Refresh the page after completing the item
      .catch(err => {
        console.log("did not work");
      });
  }
</script>
<script src="/javascript/submitAdminForm.js"></script>
<script src="/javascript/completeAdminForm.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var elems = document.querySelectorAll("select");
    var instances = M.FormSelect.init(elems, {});
  });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
