<div class="container">
  <h2 id="admin-name center"><%= admin.name%></h2>
  <h2 id="admin-lastname"><%= admin.lastname%></h2>
  <h4 id="admin-subject"><%= admin.subject%></h4>
  <h4 id="admin-city"><%= admin.location%></h4>
  <h5><%= formObjects.forms[0].name%></h5>
  <form id="admin-form" action="/api/teachers" method="POST">
    <h5>الرجاء الانتباه ان الوقت من الساعة 0 حتى الساعة 24</h5>
    <h5>الساعة</h5>
    <select name="time" id="admin-time-select">
      <% for(let i = 0; i <= 24;i++) {%>
      <option value=""><%=i%></option>
      <% } %>
    </select>
    <h5>اليوم</h5>
    <select id="admin-day-select" name="day" class="select">
      <option value="" disabled selected>اليوم</option>
      <option value="السبت">السبت</option>
      <option value="الاحد">الاحد</option>
      <option value="الاثنين">الاثنين</option>
      <option value="الثلاثاء">الثلاثاء</option>
      <option value="الاربعاء">الاربعاء</option>
      <option value="الخميس">الخميس</option>
      <option value="الجمعة">الجمعة</option>
    </select>
    <button
      class="btn waves-effect waves-light yellow darken-3"
      type="submit"
      name="action"
      style="margin-bottom: 24px"
    >
      انشاء الطلب
      <i class="material-icons right">send</i>
    </button>
    <hr />
  </form>

  <div style="padding-bottom: 2.5rem">
    <p id="admin-error" class="red-text"></p>
  </div>

  <form id="admin-complete-form" style="margin-top: 24px">
    <div class="center">
      <input
        id="form-complete-id"
        type="text"
        class="validate"
        style="color: rgb(19, 201, 214)"
        name="id"
        placeholder="Example: 5d6d1f0cd0466803f1asd25b"
      />
      <label for="form-complete-id" style="color: black">رقم الطلب</label>
    </div>

    <div style="padding-bottom: 2.5rem">
      <p id="admin-complete-error" class="red-text"></p>
    </div>

    <button
      class="btn waves-effect waves-light yellow darken-3"
      type="submit"
      name="action"
      style="margin-bottom: 24px"
      id="completeButton"
    >
      انهاء الطلب <i class="material-icons right">send</i>
    </button>
  </form>
  <table class="responsive-table" style="margin-bottom: 36px">
    <thead>
      <tr dir="rtl" lang="ar">
        <th>رقم الملف</th>
        <th>الاسم</th>
        <th>الكنية</th>
        <th>البريد</th>
        <th>الرقم</th>
        <th>اليوم</th>
        <th>الوقت</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < formObjects.forms.length; i++) { %>
      <tr lang="ar">
        <td><%= formObjects.forms[i]._id %></td>
        <td><%= formObjects.forms[i].name %></td>
        <td><%= formObjects.forms[i].lastName %></td>
        <td><%= formObjects.forms[i].email %></td>
        <td><%= formObjects.forms[i].phoneNumber %></td>
        <td><%= formObjects.forms[i].day %></td>
        <td><%= formObjects.forms[i].time%></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
/>
<script src="/javascript/submitAdminForm.js"></script>
<script src="/javascript/completeAdminForm.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var elems = document.querySelectorAll("select");
    var instances = M.FormSelect.init(elems, {});
  });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
